@import "./settings";

section.about {
  margin-top: 100vh;

  & .wrapper {
    background-image: $gradient-from-darker;

    & .text-container {
      & .section-text {
        display: block;
        padding: 0 30px;
        margin: $lesser-margin 0;
      }
    }
  }
}

@media (max-width: 867px) {
  section.about {
    height: auto;
    & .text-container {
      margin: $base-margin 0;
      width: $mobile-container-width;
      height: auto;
      & .section-text {
        padding: 0 30px;
      }
    }
  }
}

@media (min-width: 867px) and (max-width: 1200px) {
  section.about {
    & .wrapper {
      & .text-container {
        justify-content: center;
      }
    }
  }
}
