@import "./settings";

section.contact {
  height: 40vh;

  & .wrapper {
    background-image: $gradient-from-lighter;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & .contact-text {
      & .contact-icons {
        & a {
          margin: $lesser-margin;
          font-size: $big-font-size;
          color: $text-color-white;
          transition: 0.3s linear;
        }

        & a:hover {
          color: $golden-yellow;
        }
      }
    }
  }
}

@media (max-width: 867px) {
  section.contact {
    & .wrapper {
      & .contact-text {
        width: $mobile-container-width;
      }
    }
  }
}
