*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #192014;
  text-align: center;
  color: #ced6e0;
}
