@import "./settings";

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  font-family: $font-family-sans-serif;
}

section {
  height: $section-base-height;
  & .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $wrapper-height;
    background-color: $violet-lighter;
    text-align: center;
    color: $text-color-white;

    & .main-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      width: $desktop-container-width;
      min-height: $container-min-height;
      max-height: $container-max-height;
      background-color: $black-alpha;
      border-radius: $base-border-radius;

      & .section-header {
        margin: $base-margin 0;
      }
    }
  }
}

.more-btn {
  cursor: pointer;
  background-color: $gray-violet;
  text-align: center;
  line-height: $btn-more-height;
  font-weight: bold;
  width: $btn-more-width;
  height: $btn-more-height;
  border-radius: $base-border-radius;
  transition: 0.3s linear;

  &:hover {
    color: $golden-yellow;
  }
}

.link {
  font-size: $small-font-size;
  color: $text-color-white;
  transition: 0.3s linear;

  &:hover {
    color: $golden-yellow;
  }
}
