@import "./settings";

div.hamburger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $gray-alpha;
  color: $text-color-white;
  position: fixed;
  right: 1%;
  top: 1%;
  border-radius: $circle-border-radius;
  font-size: $small-font-size;
  cursor: pointer;
  z-index: 3;
  transition: 0.3s linear;

  & .fas {
    transition: 0.3s linear;
  }

  &:hover .fas {
    color: $golden-yellow;
  }

  &.clicked {
    right: -10%;
  }
}

nav.hamburger-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color-white;
  font-size: $medium-font-size;
  width: 25%;
  height: 100%;
  background-color: $gray-alpha;
  position: fixed;
  top: 0;
  transition: 0.3s linear;
  cursor: pointer;
  z-index: 9;

  &.active {
    left: 0;
  }

  &.hidden {
    left: -100%;
  }

  & .fas {
    position: absolute;
    top: 1%;
    left: 3%;
    transition: 0.3s linear;
  }

  & .fas:hover {
    color: $golden-yellow;
  }

  & ul {
    list-style-type: none;
    padding: 0;

    & li {
      position: relative;
      margin-bottom: $base-margin;
      transition: 0.3s linear;
      overflow: hidden;

      & a {
        font-weight: bolder;
        color: $text-color-white;
        text-decoration: none;
        transition: 0.3s linear;
      }

      &:hover a {
        color: $golden-yellow;

        &::after {
          left: -30%;
        }
      }

      &:hover {
        transform: translateY(-10px);
      }

      & a::after {
        content: " ";
        position: absolute;
        width: 50%;
        height: 3px;
        background-color: $golden-yellow;
        bottom: 0;
        left: -50%;
        transition: 0.3s linear;
      }
    }
  }
  z-index: 3;
}

@media (max-width: 867px) {
  nav.hamburger-nav {
    width: 100%;
  }
}

@media (min-width: 867px) and (max-width: 1200px) {
  nav.hamburger-nav {
    width: 100%;
  }
}
