@import "./settings";

.industrio-info {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $black-alpha;
  z-index: 10;
  color: $text-color-white;

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .fas {
    cursor: pointer;
    font-size: $medium-font-size;
    margin: $lesser-margin;
    transition: 0.3s linear;
    &:hover {
      color: $golden-yellow;
    }
  }

  & .content-wrapper {
    background-image: $gradient-from-darker;
    height: $popups-desktop-height;
    width: $popups-desktop-width;
    border-radius: $base-border-radius;

    & .backdrop-content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 $base-margin;
      width: 100%;
      height: 100%;

      & .project-description {
        margin-right: $base-margin;

        & ul {
          width: 90%;
        }
      }

      & .screens-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 40%;
        margin-right: 100px;

        & .main-photo {
          width: 100%;
          height: 100%;
          & img {
            width: 100%;
            height: 100%;
          }
        }

        & .side-photos {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 50%;

          & img {
            width: 100%;
            height: 100%;
            margin: 10px 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 867px) {
  .industrio-info {
    & .content-wrapper {
      overflow-y: scroll;
      overflow-x: hidden;
      width: 100vw;
      min-height: 100vh;
      border-radius: 0;

      & .backdrop-content-wrapper {
        margin: 300px 0 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .project-description {
          margin: 0;
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        & .screens-container {
          margin: 0;
        }
      }
    }
  }
}

@media (min-width: 867px) and (max-width: 1200px) {
  .industrio-info {
    & .content-wrapper {
      overflow-y: scroll;
      overflow-x: hidden;
      width: 100vw;
      min-height: 100vh;
      border-radius: 0;

      & .backdrop-content-wrapper {
        margin: 100px 0 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .project-description {
          margin: 0;
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        & .screens-container {
          margin: 0;
        }
      }
    }
  }
}
