$section-width: 100vw;
$section-height: 100vh;
$text-color-white: #ced6e0;
$medium-font-size: 32px;
$small-font-size: 22px;
$big-font-size: 60px;
$background-shutter: rgba(0,0,0,.4);


/* random times for circle float animation*/
$random-time1: (random(80) + 20) + s;
$random-time2: (random(80) + 20) + s;
$random-time3: (random(80) + 20) + s;
$random-time4: (random(80) + 20) + s;
$random-time5: (random(80) + 20) + s;
$random-time6: (random(80) + 20) + s;
$random-time7: (random(80) + 20) + s;
$random-time8: (random(80) + 20) + s;
$random-time9: (random(80) + 20) + s;
$random-time10: (random(80) + 20) + s;
$random-time11: (random(80) + 20) + s;
$random-time12: (random(80) + 20) + s;
$random-time13: (random(80) + 20) + s;
