@import "./settings";

section.technologies {
  height: 100vh;
  color: $text-color-white;

  & .technologies-container {
    & .technologies-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: $base-margin 0;
    }
    & img {
      width: 100px;
      height: 100px;
    }
  }
}

@media (max-width: 867px) {
  section.technologies {
    & .wrapper {
      & .technologies-container {
        width: $mobile-container-width;
        & img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
